@import "reset.css";
@import "style.css";

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }

/* Header - nav */
header {
    height: 180px;
    margin-top: 30px;
}
header nav .logo {
    padding-top: 10px;
}
.main-nav li a {
    margin-top: 20px;
    margin-left: 40px;
}

/*======= main =======*/
.main-inner-wrapper {
    display: flex;
    flex-direction: column;
}
.works {
    display: flex;
    flex-direction: column;
}

/* Explain  */
.title-section {
    padding-bottom: 3rem;
}
.work-title h2 {
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}
.explain {
    width: 70%;
}
.explain .role {
    padding-top: 2rem;
    font-weight: 700;
}

/* images */
.work-images {
    width: 100%;
    height: auto;
}
.work-images ul {
    text-decoration: none;
}
.work-images img {
    width: 100%;
    height: auto;
}
.work-images .half-image {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.work-images .half-image img {
    width: 50%;
    height: 50%;
}
/* Youtube */
.embed-youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.embed-youtube iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}





/* ============ Mobile size ============ */

@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .logo img {
        margin-left: 30px;
        width: 30px;
    }
    .main-nav {
        margin-right: 40px;
    }
    
    /*======= main =======*/
    
    .main-inner-wrapper {
        padding: 0px 10px;
    }

    /* Explain  */
    .title-section {
        padding-left: 10px;
        padding-bottom: 3rem;
    }
    .explain {
        width: 100%;
    }
    .explain .role {
        padding-top: 2rem;
        font-weight: 700;
    }

}

